:root {
	--primary-blue: #001D96;
	--light-blue: #E5EAFF;
	--purple: #6045FF;
	--light-grey: #EEEEEE;
	--medium-grey: #9C9C9C;
	--background-grey: #F8F8F8;
	--dark-blue: #101828;
	--dark-mode-background: #181830;
	--grey-background-navbar: #414259;
	--grey-background-main-section: #24243A;

	--main-bg-color: var(--light-grey);
	--main-section-bg-color: var(--background-grey);
	--main-section-border-color: var(--light-blue);
	--main-color: var(--primary-blue);

	--menu-bg-color: var(--light-blue);
	--menu-item-bg-color: var(--light-grey);
	--menu-item-color: var(--primary-blue);
	--menu-lang-bg-color: var(--background-grey);
	--menu-lang-border-color: var(--grey-background-main-section);
	--menu-lang-hover-color: var(--light-blue);
	--menu-lang-text-color: var(--grey-background-main-section);

	--area-bg-color: var(--grey-background-navbar);

	--config-menu-tab-color: var(--primary-blue);

	--button-bg-color: var(--light-blue);
	--button-border-color: var(--primary-blue);
	--button-text-color: var(--primary-blue);
	--button-hover-bg-color: var(--purple);
	--button-hover-border-color: var(--primary-blue);
	--button-hover-text-color: var(--light-grey);

	--file-list-bg-color: var(--light-blue);
	--file-list-border-color: var(--primary-blue);
	--file-list-icon-color: var(--primary-blue);
	--file-list-text-color: var(--primary-blue);

	--label-info-bg-color: #BBE4FF;
	--label-info-border-color: #348CFF;
	--label-info-icon-color: #348CFF;
	--label-info-text-color: #414141;

	--label-warning-bg-color: #FFF8E5;
	--label-warning-border-color: #FFD151;
	--label-warning-icon-color: #FFD151;
	--label-warning-text-color: #414141;

	--label-error-bg-color: #FFF0F0;
	--label-error-border-color: #AC2121;
	--label-error-icon-color: #AC2121;
	--label-error-text-color: #AC2121;

	--label-success-bg-color: #E5FFF0;
	--label-success-border-color: #21AC59;
	--label-success-icon-color: #21AC59;
	--label-success-text-color: #21AC59;

	--progress-bar-bg-color: var(--light-blue);
	--progress-bar-value-color: var(--primary-blue);
}

[data-theme="dark"] {
	--main-bg-color: var(--dark-mode-background);
	--main-section-bg-color: var(--grey-background-main-section);
	--main-section-border-color: var(--light-blue);
	--main-color: var(--light-blue);

	--menu-bg-color: var(--grey-background-navbar);
	--menu-item-bg-color: var(--dark-mode-background);
	--menu-item-color: var(--light-blue);
	--menu-lang-bg-color: var(--grey-background-navbar);
	--menu-lang-border-color: var(--light-blue);
	--menu-lang-hover-color: var(--dark-mode-background);
	--menu-lang-text-color: var(--light-blue);

	--area-bg-color: var(--grey-background-navbar);

	--config-menu-tab-color: var(--light-blue);

	--button-bg-color: var(--light-blue);
	--button-border-color: var(--primary-blue);
	--button-text-color: var(--primary-blue);
	--button-hover-bg-color: var(--purple);
	--button-hover-border-color: var(--primary-blue);
	--button-hover-text-color: var(--light-grey);

	--file-list-bg-color: var(--light-blue);
	--file-list-border-color: var(--primary-blue);
	--file-list-icon-color: var(--primary-blue);
	--file-list-text-color: var(--primary-blue);

	--label-info-bg-color: #1D2F59;
	--label-info-border-color: #348CFF;
	--label-info-icon-color: #348CFF;
	--label-info-text-color: #E6F1FF;

	--label-warning-bg-color: #4C3F2B;
	--label-warning-border-color: #FFD151;
	--label-warning-icon-color: #FFD151;
	--label-warning-text-color: #FFF8E6;

	--label-error-bg-color: #840000;
	--label-error-border-color: #FF7575;
	--label-error-icon-color: #FF7575;
	--label-error-text-color: #FFF0F0;

	--label-success-bg-color: #144132;
	--label-success-border-color: #34FF86;
	--label-success-icon-color: #34FF86;
	--label-success-text-color: #DEFFEB;

	--progress-bar-bg-color: #4F5D76;
	--progress-bar-value-color: #BBE4FF;
}
