.component-button {
	margin: 8px 8px 8px 0;
	padding: 8px;
	color: var(--button-text-color);
	background-color: var(--button-bg-color);
	border: 1px solid var(--button-border-color);
	border-radius: 8px;
	cursor: pointer;
	display: flex;
}

.component-button-wrapper {
	display: inline-block;
}

.component-button:hover, .component-button-file-label:hover {
	color: var(--button-hover-text-color);
	background-color: var(--button-hover-bg-color);
	border: 1px solid var(--button-hover-border-color);
}

.component-button-icon {
	font-size: 1.4rem;
}

.component-button-sep {
	margin: 0 0 0 8px;
}

.component-button-text {
	flex-grow: 1;
}

.component-button-file-label {
	margin: 8px 8px 8px 0;
	padding: 8px;
	color: var(--button-text-color);
	background-color: var(--button-bg-color);
	border: 1px solid var(--button-border-color);
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
}

.component-button-file-input {
	display: none;
}
